@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");

:root {
	--bg-primary: #232323;
	--bg-secondary: #2f2f2f;
	--bg-ternary: #343434;
	--bg-forth: #3f3f3f;
	--bg-fifth: #454545;
	--bg-sixth: #4b4b4b;

	--tb-odd: #d2ebff;
	--tb-even: #9cd7ff;
	--tb-selected: #12405f;

	--mesa-aberta: var(--bg-sixth);
	--mesa-fechada: var(--border-primary);

	--border-primary: #0061d4;

	--font-primary: "Quicksand";

	--font-small: 0.75rem;
	--font-regular: 1rem;
	--font-medium: 1.25rem;
	--font-large: 1.5rem;

	--font-color-primary: white;
	--font-color-secondary: black;
	--font-color-total: #96d6f3;
	--font-color-selected: #fff64c;

	--qs-light: 300;
	--qs-regular: 400;
	--qs-medium: 500;
	--qs-bold: 700;
}

*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: var(--font-primary);
	font-weight: var(--qs-medium);
	font-size: var(--font-medium);
}

body {
	width: 100%;
	height: 100vh;
	background-color: var(--bg-primary);
	color: var(--font-color-primary);
}

.header {
	width: 100%;
	height: 5rem;

	background-color: var(--bg-forth);

	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
}

.header h1 {
	padding: 20px 30px;
}

.header .navbar {
	height: 5rem;
	width: 100%;
	background: var(--bg-secondary);
	color: var(--font-color-primary);
}

.navbar .list {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	list-style: none;
}

.item {
	width: 250px;
	height: 100%;
	padding: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: transparent;

	transition: 200ms linear;
}

.item:hover {
	background-color: var(--bg-fifth);
}

.item a {
	text-decoration: none;
	color: var(--font-color-primary);
	font-size: calc(var(--font-small) * 1.2);
}

main {
	margin: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tables-container {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;

	flex-wrap: wrap;
	flex-direction: row;
}

.produtos-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}

#produtos-container tr:last-child td:nth-child(1) {
	border-radius: 0 0 0 5px;
}
#produtos-container tr:last-child td:nth-child(3) {
	border-radius: 0 0 5px 0;
}

#form-product-table-header tr th {
	padding: 5px;
}

#add-product-form {
	padding: 20px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	background-color: rgba(100, 100, 111, 0.2);
}

#add-product-form #inputs {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(4, auto);
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

#inputs input {
	background-color: var(--bg-ternary);
	color: var(--font-color-primary);
	padding-left: 5px;
	border: 2px solid var(--bg-primary);
	border-radius: 5px;
}

#inputs select {
	border-radius: 5px;
	color: var(--font-color-primary);
	background: var(--bg-ternary);
	border: 2px solid var(--bg-primary);
}

#product-row td {
	color: var(--font-color-secondary);
	text-align: center;
	padding: 5px;
}

.mesa {
	width: 100px;
	height: 100px;
	display: inline-block;
	margin: 10px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	background-color: var(--bg-sixth);
	border-radius: 15px;
	color: var(--font-color-primary);
	border: none;
}

.mesa.fechada {
	background-color: var(--mesa-fechada);
}

.mesa.aberta {
	background-color: var(--mesa-aberta);
}

.mesa.selecionada {
	background-color: var(--bg-sixth);
	border: 3px solid var(--border-primary);
}

button {
	color: white;
	background: var(--border-primary);
	border: none;
	padding: 5px;
	font-size: calc(var(--font-medium) / 1.25);
	border-radius: 8px;
	cursor: pointer;
}

#form-product-table .form-product-table-header {
	background-color: var(--border-primary);
}

#form-product-table tr:not(.form-product-table-header):nth-child(even) {
	background-color: var(--tb-even);
	color: black;
}
#form-product-table tr:not(.form-product-table-header):nth-child(odd) {
	background-color: var(--tb-odd);
	color: black;
}

#form-product-table
	tr:not(.form-product-table-header):last-child
	th:nth-child(1) {
	border-radius: 0 0 0 8px;
}
#form-product-table
	tr:not(.form-product-table-header):last-child
	th:nth-child(3) {
	border-radius: 0 0 8px 0;
}

#form-product-table .form-product-table-header th {
	padding: 8px;
}

#form-product-table .form-product-table-header th:nth-child(1) {
	border-radius: 8px 0 0 0;
}
#form-product-table .form-product-table-header th:nth-child(3) {
	border-radius: 0 8px 0 0;
}

#form-product-table th {
	font-size: calc(var(--font-medium) / 1.25);
}

#form-product-table-body .selected {
	background-color: var(--tb-selected) !important;
}

#form-product-table-body .selected th {
	color: var(--font-color-selected);
}

form * {
	font-size: calc(var(--font-medium) / 1.25);
}

.order-form-container {
	border-left: 1px solid white;
	min-width: 300px;
	padding-left: 30px;
	margin-right: 50px;
}

.product-form-container {
	border-left: 1px solid white;
	padding-left: 30px;
}

#order-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#order-form .total {
	display: flex;
	width: 100%;
	margin: 5px 0;
	justify-content: end;
	align-items: center;
}

.total p {
	color: var(--font-color-total);
}

#order-form button {
	font-size: calc(var(--font-medium) / 1.5);
}

#form-product-table-header {
	padding: 10px;
	background-color: var(--border-primary);
}

#form-product-table-body tr th {
	color: var(--font-color-secondary);
	font-size: var(--font-small);
}

#form-product-table-body tr:nth-child(odd) {
	background-color: var(--tb-odd);
}
#form-product-table-body tr:nth-child(even) {
	background-color: var(--tb-even);
}

#form-product-table-body tr:last-child th:nth-child(1) {
	border-radius: 0 0 0 5px;
}
#form-product-table-body tr:last-child th:nth-child(3) {
	border-radius: 0 0 5px 0;
}

#form-product-table-header th:nth-child(1) {
	border-radius: 5px 0 0 0;
}
#form-product-table-header th:nth-child(3) {
	border-radius: 0 5px 0 0;
}

#product-form {
	padding: 10px;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

#product-form input {
	background: none;
	border: none;
	background-color: var(--bg-sixth);
	color: white;

	padding-left: 5px;
	border-radius: 5px;
	height: 30px;
}

#product-form .dashboard {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

@media screen and (max-width: 950px) and (min-width: 390px) {
	main {
		flex-direction: column;
		align-items: center;
		gap: 20px;
	}

	.mesas-container {
		display: flex;
		align-content: center;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;
		flex-direction: row;
	}

	.order-form-container,
	.product-form-container {
		border-left: none;
		margin: 0;
		padding: 0;
		max-width: 400px;
	}

	.order-form-container {
		border-radius: 15px;
		padding: 20px 30px;
	}

	#product-form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 10px;
		grid-row-gap: 10px;
	}

	#product-form label:nth-child(1) {
		grid-area: 1 / 1 / 2 / 2;
	}
	#product-form select {
		grid-area: 1 / 2 / 2 / 3;
	}
	#product-form label:nth-child(2) {
		grid-area: 2 / 1 / 3 / 2;
	}
	#product-form input {
		grid-area: 2 / 2 / 3 / 3;
	}
	#product-form .dashboard {
		grid-area: 3 / 1 / 4 / 3;
		justify-content: space-evenly;
	}
}
